pandas==2.2.1
numpy==1.26.4
openai==1.35.14
requests==2.32.3
tenacity==8.2.3
langchain==0.2.8
langchain-openai==0.1.16
beautifulsoup4==4.12.3
langchainhub==0.1.20
langchain-community==0.2.7
streamlit==1.37.0
unstructured==0.14.10
pinecone-client==4.1.2
unstructured[pinecone]